h1 {
    font-weight: bold;
}

p {
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.table {
    border-radius: 5px;
    width: 100px;
}

.board button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 1px;
    border: 4px solid black;
}